{% extends "base.html" %}{% load ui %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block contenido %}
<h1>{{ titulo }}</h1>
<form method="post" enctype="multipart/form-data" class="rejilla-2" id="form-producto">{% csrf_token %}
  {{ form.non_field_errors }}
  <section class="tarjeta formulario-libre">
    <h2>Identificación</h2>
    {% for campo in form %}{% if campo.name in "nombre sku codigo_barras categoria marca unidad descripcion imagen" %}<p>{{ campo.label_tag }}{{ campo }}{{ campo.errors }}{% if campo.help_text %}<span class="helptext">{{ campo.help_text }}</span>{% endif %}</p>{% endif %}{% endfor %}
    <div id="atributos">
      {% for atributo, nombre in form.atributos %}{% with campo=form|get_campo:nombre %}<p>{{ campo.label_tag }}{{ campo }}{{ campo.errors }}</p>{% endwith %}{% endfor %}
    </div>
  </section>
  <section class="tarjeta formulario-libre">
    <h2>Precios, stock y proveedor</h2>
    {% for campo in form %}{% if campo.name in "precio_compra precio_venta stock_minimo stock_maximo stock_inicial vencimiento_inicial proveedor_principal activo" %}<p>{{ campo.label_tag }}{{ campo }}{{ campo.errors }}{% if campo.help_text %}<span class="helptext">{{ campo.help_text }}</span>{% endif %}</p>{% endif %}{% endfor %}
    <p id="margen" class="suave"></p>
  </section>
  <div class="acciones">
    <button class="boton boton-auto">Guardar</button>
    {% if not producto %}<button class="boton boton-auto boton-secundario" name="otro" value="1">Guardar y crear otro</button>{% endif %}
    <a href="{% if producto %}{% url 'catalogo:detalle' producto.pk %}{% else %}{% url 'catalogo:lista' %}{% endif %}">Cancelar</a>
  </div>
</form>
{% endblock %}
{% block scripts %}{% load static %}<script src="{% static "js/app.js" %}"></script><script>Inventario.formularioProducto();</script>{% endblock %}
